# Ignorar vídeos pesados
*.mp4
*.mov
*.avi
*.mkv

# Ignorar toda la carpeta proyectos (imágenes y medios pesados)
# Los archivos siguen en tu PC, solo no se suben al repo
/proyectos/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
